# Xcode
DerivedData/
*.xcworkspace/
*.xcuserstate
xcuserdata/

# Swift Package Manager
.build/

# Cocoapods
Pods/
*.xcscmblueprint

# Carthage
Carthage/

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/
fastlane/test_output/

# Archives
*.xcarchive

# Debugging
*.mode1v3
*.mode2v3

# Logs
*.log

# User-specific
.idea/
.vscode/
.DS_Store

# Environment
.env

# Other build artifacts
*.app
*.ipa
*.dSYM/
